*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --pink-light: #c59dd2;
  --pink-base: #8547a5;
  --pink-dark: #7d298a;
  --pink-low: #3f0f41;

  --blue-light: #73b6d2;
  --blue-base: #358bb9;
  --blue-mid: #2374a4;
  --blue-dark: #144a72;
  --blue-low: #08233c;

  --shape-stroke: #002347;
  --shape-hover: #001933;
  --shape-base: #000f1f;
  --shape-background: #00050a;

  --text-title: #f8fbfb;
  --text-body: #e2e7e9;
  --text-label: #bac6c9;

  --font-family: "Raleway", system-ui, sans-serif;

  --fs-2xs: 0.625rem;
  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-xl: 1.25rem;
  --fs-2xl: 2rem;
  --fs-3xl: 2.5rem;
  --fs-4xl: 3rem;

  --fw-base: 400;
  --fw-md: 500;
  --fw-bold: 700;

  --subtitle: 500 2rem/2 var(--font-family);
}

.subtitle {
  font: var(--subtitle);
}

html {
  font-family: var(--font-family);
  font-weight: var(--fw-base);
  font-size: var(--fs-base);
  color: var(--text-body);
}

body {
  background-color: var(--shape-background);
}

h1,
h2,
h3 {
  font-weight: var(--fw-bold);
  color: var(--text-title);
}

a {
  text-decoration: none;
  color: inherit;
}

ul[role="list"] {
  list-style: none;
}

flex{
  display: flex;
  align-items: center;
}

@media (width >= 48em) {
  :root {
    max-width: 90rem;
    width: 100%;
    margin-inline: auto;
    overflow-x: hidden;
  }
}