section#kit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

section#kit-container header {
  margin-top: 235px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
  text-align: center;
}
section#kit-container header span {
  display: block;
}

section#kit-container .kit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

section#kit-container .kit img {
  width: 2rem;
  height: 2rem;
}

section#kit-container .kit span {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.4;
}

section#kit-container .kit h3 {
  font-size: 2rem;
  font-weight: 700;
}

section#kit-container .books {
  position: relative;
  height: 920px;
  max-width: 1440px;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

section#kit-container .books img {
  position: absolute;
}

section#kit-container .books img[src*="bookmark-yellow"],
section#kit-container .books img[src*="bookmark-purple"],
section#kit-container .books img[src*="pin"],
section#kit-container .books figure {
  opacity: 0;
  transform: translateY(20px) scale(0.95);
  transition: opacity 0.5s ease, transform 0.5s ease, z-index 0s 2s; /* atraso no z-index */
  z-index: -2;
}

section#kit-container .books:hover figure {
  opacity: 1;
  transform: translateY(0) scale(1);
  z-index: 2;
  transition: opacity 0.5s ease, transform 0.5s ease, z-index 0s; /* z-index muda instantâneo no hover */
}

section#kit-container .books:hover img[src*="bookmark-purple"] {
  opacity: 1;
  width: 172px;
  height: 536px;
  transform: rotate(22deg);
  z-index: -2;
  top: 6rem;
  left: 17rem;
}

section#kit-container .books:hover img[src*="bookmark-yellow"] {
  opacity: 1;
  width: 172px;
  height: 536px;
  transform: rotate(12deg);
  z-index: -1;
  top: -2rem;
  left: 11rem;
}
section#kit-container .books:hover img[src*="pin"] {
  opacity: 1;
  width: 222px;
  height: 254px;
  transform: rotate(-8deg);
  z-index: -1;
  top: 33rem;
  right: 9rem;
}

section#kit-container .books img[src*="book"] {
  width: 467px;
  height: 617px;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
}

section#kit-container .books figure {
  & figcaption {
    width: 150px;
    white-space: normal;
    word-wrap: break-word;
  }
}

section#kit-container .books .arrows {
  & figure:nth-child(1) {
    & img {
      position: absolute;
      width: 174.5px;
      height: 30px;
      top: 2rem;
      left: -21rem;
    }
    & figcaption {
      position: absolute;
      font-size: var(--fs-2xs);
      top: 1rem;
      left: -25rem;
    }
  }
  & figure:nth-child(2) {
    & img {
      position: absolute;
      width: 104.5px;
      height: 127px;
      top: 24rem;
      left: -20rem;
    }
    & figcaption {
      position: absolute;
      font-size: var(--fs-2xs);
      top: 23rem;
      left: -22rem;
    }
  }
  & figure:nth-child(3) {
    & img {
      position: absolute;
      width: 145px;
      height: 151px;
      top: 36rem;
      left: 15rem;
    }
    & figcaption {
      position: absolute;
      font-size: var(--fs-2xs);
      top: 46rem;
      left: 11rem;
    }
  }
}

@keyframes slideIn-bookmark-yellow {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(156px, -108px);
  }
}

@keyframes slideIn-bookmark-purple {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(286px, 0px);
  }
}

@keyframes slideIn-bookmark-pin {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(-195px, 134px);
  }
}
